@import "tailwindcss";

@theme {
  --color-black: #000000;
  --color-purple: #7B4B94;
  --color-magenta: #FF70A6;
  --color-light-gray: #E0E0E0;
  --color-dark-gray: #1B1B1B;
  --color-white: #FFFFFF;

  --font-mono: "Roboto Mono", monospace;
}
